    .picture-container{
        position: relative;
        cursor: pointer;
        text-align: center;
    }
    .picture{
        width: 140px;
        height: 100%;
        background-color: transparent;
        border: 1px solid #CCCCCC;
        border-radius: 2%;
        margin: 0px auto;
        overflow: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }
    .picture:hover{
        border-color: #2ca8ff;
    }
    .picture input[type="file"] {
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .picture-src{
        width: 100%;
    }

    .info-main {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 20px 0;
        box-sizing: border-box;
        text-align: center;
        font-size: 24px;
        font-family: Arial, sans-serif !important;
    }

    .red-color {
        color: rgb(235, 34, 68);
    }